@import url('https://fonts.googleapis.com/css?family=Lato');

:root {
font-family: 'Lato', sans-serif;
}

body{
    max-width: 1050px;
    margin: auto;
    padding: 0 5px;
}

#carouselOffers {
    height: 500px;
}

#carouselOffers img {
    max-height: 450px;
}

.intro {
    max-width: 400px;
    margin-top: 150px;
    text-align: center;
}
.card {
    height: 100%;
}

.alert {
    position: fixed;
    top: 50px; 
    width: 50%;
    left: 25%;
    z-index: 1051;
}

.btn {
    padding: 0.75rem 0.7rem;
}

@media (min-width: 573px){
    .banner{
        height: 700px;
        background-image: url(../img/products/apple-sloppy.jpg);
        background-position: center;
        background-size: cover;
    }
    .banner{
        display: flex;
        align-items:center;
        justify-content:center;
    }
    .banner div h1{
        color: white;
        font-size: 3rem;
    }
}